<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <h1>Plex Management Server</h1>
    <div class="links">
      <a class="link" href="/update">Update</a>
      <br />
      <a class="link" href="/update_v2">Update_v2</a>
      <br />
      <a class="link" href="/view">View</a>
      <br />
      <a class="link" href="/">Refresh</a>
    </div>
  </body>
</html>
