<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      <span class="closebtn" onclick="this.parentElement.style.display='none';"
        >&times;</span
      >
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <h1>Update_v2 plex playlist</h1>

    <div class="content">
      <form method="POST">
        <label for="playlist_id">Playlist link:</label>

        <input type="text" name="playlist_link" />

        <button type="submit" onclick="loading();">Update</button>
      </form>
    </div>

    <div class="links">
      <br /><br />
      <a class="link" href="/">Home</a>
    </div>
    <div class="loader"></div>
    <script type="text/javascript">
      function loading() {
        document.querySelector(".loader").style.display = "flex";
        document.querySelector(".content").style.display = "none";
      }
    </script>
  </body>
</html>
